@import
url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

html {
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
}

body {
  margin: auto;
  max-width: 45em;
  font-family: 'Cardo', serif;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
cite {
  font-style: italic;
}

div.panel-body {
  border: 1px solid lightgray;
  min-height: 3em;
}
