@import
url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

html {
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
  background: LightGrey; 
}

body {
  margin: auto;
  position: relative;
  max-width: 40em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: 'Cardo', serif;
  font-size: 120%;
  background: AntiqueWhite;
}

header {
  margin-left: -2em;
  margin-right: -2em;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  background: #ebadc2;
}

main {
  padding-bottom: 1em;
}

nav {
  margin-left: -4em;
  margin-right: -4em;
}

nav, footer {
  background: #009999;
  color: white; 
}

nav ul {
  list-style: none;
  line-height: 2em;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

nav ul li {
  display: table-cell;
  padding-right: 2em;
}

nav ul a, nav ul a:visited {
  font-variant: small-caps;
  text-decoration: none;
  color: white;
}

a, a:visited {
  color: DarkBlue;
}

div.panel-body {
  border: 1px solid LightGrey;
  background: white;
}

div.panel-body div.panel {
  height: 800px;
}


q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
cite {
  font-style: italic;
}


footer {
  margin-left: -2em;
  margin-right: -2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
